.content-layout-container {
	min-height: 100vh !important;
}

.content-layout-slider {
}

.content-layout-content-container {
	/* background-color: #fff; */
}

.content-layout-header {
	background-color: #fff !important;
}

.trigger {
	padding: 0 24px;
	font-size: 18px;
	line-height: 64px;
	cursor: pointer;
	transition: color 0.3s;
}

.trigger:hover {
	color: #1890ff;
}

/* ======================== */

.content-layout-content {
	margin: 24px 16px 0;
	padding: 24px;
	background-color: #fff;
}
