.content-layout-container {
	min-height: 100vh !important;
}

.content-layout-header {
	height: 48px !important;
	background-color: #001529 !important;
	color: #fff !important;
}

.content-layout-header.mobile {
	padding: 0 8px !important;
}

.content-layout-content-container {
	/* background-color: #fff; */
}

.content-layout-slider {
}

.trigger {
	padding: 0 24px;
	font-size: 18px;
	line-height: 64px;
	cursor: pointer;
	transition: color 0.3s;
}

.trigger:hover {
	color: #1890ff;
}

/* ======================== */

.content-layout-content {
	margin: 24px;
	padding: 24px;
	background-color: #fff;
	overflow: auto;
}
.content-layout-content.mobile {
	margin: 0;
}
